<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>connections</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/connections.css">
</head>

<body>
    <header>
        <% include partials/header.ejs %>
        <% include partials/navigation.ejs %>
    </header>

    <div id="main-content-area">
        <div>

            <br>
            <br>
            <h3 id="coverheading"> Contact Details</h3>

        </div>

        <br>
        <div id="address">
            Dance Team Co-ordinator - Srinath Muralinathan
            <br>
            Address : 9612 Vinca Circle Apt C
            Charlotte NC - 28213
            &nbsp;<br>
            Mobile : 9806435701

        </div>
    </div>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</body>

</html>