<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
    <header>
        <% include partials/header.ejs %>
        <% include partials/navigation.ejs %>
    </header>

    <section class="article">
        <div id="main-content-area">
            <div>

                <img src="images/cover.jpg" id="cover" alt="cover" width="450" height="250" />
                <h2 id="coverheading"> Our Story</h2>

            </div>

            <div>
                The INSIDERS CREW started as a college dance team at SASTRA UNIVERSITY, proudly known as SDT (Sastra
                dance Team). It was started earlier in the year 2006. Later on it shaped to be a western dance team
                recognized for its synchronized and original dance routine. At its initial stages SDT performed
                freestyle routines with tight formations and won 1st place at CMC, Vellore and JIPMER.
                In the year 2011 SDT took its first step into the professional world with a vibrant name INSIDERS.
                Various street styles such as krump, bboying were incorporated into the team to support the theme
                “ORCHESTRA”. In 2011 INSIDERS got 2nd place at JIPMER, Pondicherry and VIT, Vellore.
                <br>
                &nbsp;<br>
                In the year 2012 the crew struck its foot hard into the professional world with a concept of “HELL” and
                more styles such as locking, popping and house. It has won 1st place at NIT, trichy & at Anna
                University,Chennai; 2nd place in Dance battle at VIT; 2nd at CMC, VELLORE. Also got qualified to the
                prestigious HIP HOP INTERNATIONAL India finals.
                In the year 2013 INSIDERS kicked off to a great start. Revolving its choreography around the theme
                “ROBBERY”. It has won first place at CMC, Vellore; NIT, trichy and 2nd place at IIT SAARANG.Being
                ORIGINAL is its biggest strength. The quality of dancers, synchronization and power moves had improved
                over these years.<br>
                &nbsp;<br>
                We choreograph our routines with the foundational knowledge learnt from professionals.
                We as proud dancers of INSIDERS , “STAY HUNGRY TO LEARN” and “LIVE FOR THE CHEER"
                &nbsp;<br>

                <br>
            </div>
        </div>
    </section>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</body>

</html>